@font-face {
  font-family: "NorseBold";
  src: url(Norse-Bold.otf) format("opentype");
}

body {
  margin: 0 0;
}

.page-container {
  display: grid;
  grid-template-columns: 35vw 65vw;
  grid-template-rows: 100vh;
}

.graphic-container {
  background-image: url("imgs/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: 35vw 100vh;
}

.title-container {
  display: flex;
}

.odin-logo,
.odin-title {
  display: inline;
}

.odin-logo {
  width: auto;
  height: 80px;
}

.odin-title {
  color: white;
  font-size: 80px;
  font-weight: 700;
  margin: 0 0;
  font-family: "NorseBold", sans-serif;
}
