@font-face {
  font-family: "Norse-Bold";
  src: url(Norse-Bold.otf) format("opentype");
}

body {
  margin: 0 0;
}

.page-container {
  display: grid;
  grid-template-columns: 35vw 65vw;
  grid-template-rows: 100vh;
}

.graphic-container {
  background-image: url("imgs/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: 35vw 100vh;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 25vh 20vh 55vh;
}

.title-container {
  display: flex;
  justify-content: center;
}

.odin-logo,
.odin-title {
  display: inline;
}

.odin-logo {
  width: auto;
  height: 80px;
}

.odin-title {
  color: white;
  font-size: 80px;
  font-weight: 700;
  margin: 0 0;
  font-family: "Norse-Bold", sans-serif;
}

.photo-credit-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.photo-credit-container p, .photo-credit-container a {
  color:rgba(248, 248, 248, 0.82); 
  font-family: sans-serif;
  font-size: 12px;
}