@font-face {
  font-family: "Norse-Bold";
  src: url(Norse-Bold.otf) format("opentype");
}

body {
  margin: 0 0;
}

.page-container {
  display: grid;
  grid-template-columns: 35vw 65vw;
  grid-template-rows: 100vh;
}

.graphic-container {
  background-image: url("imgs/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: 35vw 100vh;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 22vh 16vh 62vh;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.427);
}

.odin-logo,
.odin-title {
  display: inline;
}

.odin-logo {
  width: auto;
  height: 100px;
}

.odin-title {
  color: white;
  font-size: 90px;
  font-weight: 700;
  margin: 0 0;
  font-family: "Norse-Bold", sans-serif;
}

.photo-credit-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.photo-credit-container p,
.photo-credit-container a {
  color: rgba(248, 248, 248, 0.82);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
}

.text-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.description-container {
  padding-left: 3vw;
  padding-right: 12vw;
  padding-top: 12vh;
}
.description-container p {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.desc-line-1 {
  margin-bottom: 0;
}
.desc-line-2 {
  margin-top: 0;
}

.form-container {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding-left: 3vw;
  padding-right: 12vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
  background-color: aliceblue;
}

form {
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-template-rows: 70px 70px 70px;
  grid-template-areas: "a b" "c d" "e f";
}

.form-heading {
  margin: 0;
  padding-bottom: 2vh;
}

.form-fname {
  grid-area: a;
}
.form-lname {
  grid-area: b;
}
.form-email {
  grid-area: c;
}
.form-phone {
  grid-area: d;
}
.form-pass {
  grid-area: e;
}
.form-pass2 {
  grid-area: f;
}

.form-label-input-pair {
  margin-bottom: 5px;
}

.form-container label {
  font-size: 12px;
  font-weight: 700;
}

input {
  height: 1.5em;
  width: 16em;
}

.action-container {
  padding-left: 3vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.create-account-button {
  display: inline-block;
  --button-color: #596d48;
  color: white;
  background-color: var(--button-color);
  border-style: solid;
  border-radius: 5px;
  border-color: var(--button-color);
  box-shadow: none;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 40px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.create-account-button:hover {
  --button-color: green;
}

.create-account-button:active {
  --button-color: #455438;
  transform: translateY(4px);
}
